<section class="todoapp">
  <header class="header">
    <h1>To-Do</h1>
    <form id="new-form">
      <input type="text" class="new-todo"/>
    </form>
  </header>

  <section class="main">
    <ul class="todo-list">

    </ul>
  </section>
</section>

<script>
  $(function() {
    $('#new-form').submit(function(event) {
      event.preventDefault();
      var textbox = $('.new-todo');
      console.log("Task: ", textbox.val());
    });

    function taskHtml(task) {
      var checkedStatus = task.done ? "checked" : "";
      var liElement = '<li><div class="view"><input class="toggle" type="checkbox"' + " data-id='" + task.id + "'" + checkedStatus + '><label>' + task.title + '</lable></div></li>';

      return liElement
    }

    function toggleTask(e) {
      var itemId = $(e.target).data("id");

      var doneValue = Boolean($(e.target).is(':checked'));

      $.post("/tasks/" + itemId, {
        _method: "PUT",
        task: {
          done: doneValue
        }
      });
    }

    $.get("/tasks").success( function( data ) {
      var htmlString = "";

      $.each(data, function(index, task) {

        htmlString += taskHtml(task);
      });
      var ulTodos = $('.todo-list');
      ulTodos.html(htmlString);

      $('.toggle').change(toggleTask);
      
    });
  });
</script>